# 09 - Beginner Exercises 
*   Lambda


---

## üç©üç©üç©
1.Create a lambda function that takes an argument $x$ and returns $x^{2}$.
Then assign it to the variable Pow. then print Pow(2) , Pow(3) , Pow(1400) .

In [1]:
# Write your own code in this cell

Pow =

## üç©üç©üç©
2.Create a lambda function that takes two argument $a$ and $b$ and returns $\frac{a + b}{a * b}$.
Then assign it to the variable **Alpha**. then print Alpha(1,2) , Alpha(2,3) , Alpha(3,4) .

In [ ]:
# Write your own code in this cell
Alpha =

##üç©

3.We have a list of famous singers of each country. Print a list containing only their names using Lambda. use Lambda to write a function that, if called for each item of the **```persons```**, will return a tuple containing the **name** and **country** of each singer and do not return their age.

In [ ]:
# Write your own code in this cell
persons = [("Paul David Hewson", 61, "Ireland"),
           ("Saeed Mohammadi", 63, "Iran"),
           ("Alla Borisovna Pugacheva", 77, "Russia"),
           ("David Jon Gilmour", 75, "United Kingdom"),
           ("Aryana Sayeed", 36, "Afghanistan"),
           ("C√©line Marie Claudette Dion", 53, "Canad"),
           ("Caetano Emanuel Viana Telles Veloso", 79, "Brazil"),]

## üç©
4.As you know, the sort method takes two Optional arguments. Reverse and key. 
$$list.sort(reverse=True|False, key=myFunc)$$


$$sorted(iterable, key=key, reverse=reverse)$$
reverse=True will sort the list descending. Default is reverse=False
And the key's value can be equal to a function to specify the **sorting criteria(s)**

Using **```lambda```** and **```sort()```** method, please sort the list of singers below based on the **second letter** of their name.

In the next step, sort the list of singers based on the **last letter** of their name using the **```sorted()```** builtin function.

In [ ]:
# Write your own code in this cell
singers = ["Paul David Hewson", "Saeed Mohammadi" ,  "Aryana Sayeed",
           "Alla Borisovna Pugacheva", "Alla Borisovna Pugacheva", 
           "David Jon Gilmour", "C√©line Marie Claudette Dion", 
           "Caetano Emanuel Viana Telles Veloso"]

## üç©
5.Please arrange the list below by age, from oldest to youngest.

In [ ]:
# Write your own code in this cell
persons = [("Paul David Hewson", 61, "Ireland"),
           ("Saeed Mohammadi", 63, "Iran"),
           ("Alla Borisovna Pugacheva", 77, "Russia"),
           ("David Jon Gilmour", 75, "United Kingdom"),
           ("Aryana Sayeed", 36, "Afghanistan"),
           ("C√©line Marie Claudette Dion", 53, "Canad"),
           ("Caetano Emanuel Viana Telles Veloso", 79, "Brazil"),]

## üå∂Ô∏è

6.Using Lambda and sorted() function, write a function that puts negative numbers to the left of the list and positive numbers to the right of the list.

In [ ]:
# Write your own code in this cell
mylist = [-1 , -7 ,3,14,6,12,-2,9,2,1,-4]