
# 11 - Beginner Exercises

*   join() 
*   split()
*   strip()

## üçïüçïüçï
1. Binds the list's items with: **```"---"```**.

In [ ]:
# Write your own code in this cell
mylist = ["Tehran", "Mashhad", "Isfahan", "Karaj",
          "Shiraz", "Tabriz", "Qom", "Ahwaz", "Kermanshah"]

## üçïüçïüçï
2.To get a proper email address, join the tuple's components.

In [1]:
# Write your own code in this cell
mytuple = ("Prof. Baghlani", "gmail.com")

## üçïüçïüçï

3.Make a readable sentence by connecting each element in the list.

In [ ]:
# Write your own code in this cell
mylist = ["According", "to" ,"my mirror", "I", "am", 
          "pregnant.", "The", "father", "is", "Nutella."]

## üçïüçïüçï
4.Using  comma **```","```** join the keys in the dictionary and print it.Using  hyphen **```"-"```**, join the values in the dictionary.

In [ ]:
# Write your own code in this cell
mydict = {"Tehran" : 9135000, "Mashhad" : 3208000, "Isfahan" : 2132000 ,
          "Karaj" : 1592492, "Shiraz" : 1565572, "Tabriz" : 1558693 ,
          "Qom" : 1288000 , "Ahwaz" : 1244000, "Kermanshah" : 1026000 }

## üçïüçï
5.Convert the list below  to a string, but make sure each item is written on an separate line.

In [ ]:
# Write your own code in this cell
mylist = ["A palindromic number reads the same both ways.",
          "The largest palindrome made from the product of " ,
          "two 2-digit numbers is 9009 = 91 √ó 99.", 
          "Find the largest palindrome made from ", 
          "the product of two 3-digit numbers."]

## üçïüçïüçï
6.Split the string based on space character: " ".

In [ ]:
# Write your own code in this cell
mystr = "Sergio Leonel Ag√ºero del Castillo, also known as Kun Ag√ºero, is an \
Argentine professional footballer who plays as a striker for La Liga club \
Barcelona and the Argentina national team."

## üçï
7.The contents of a JSON file have been given to us as a string.
Is it possible to use it to create a dictionary in Python?

In [ ]:
# Write your own code in this cell
mystring = '{"name":"Sirus", "age":30, "car":"Paykan DeLuxe"}'

mydict =

## üçï
8.Kambiz extracted the HTML code from a table of bitcoin prices over the last 15 days.
The extracted code is saved in my string variable as a string.
Make a price list using your Python knowledge.

<table><tr><th>63,164.45</th></tr><tr><th>63,226.40</th></tr><tr><th>61,004.41</th></tr><tr><th>61,318.96</th></tr><tr><th>61,888.83</th></tr><tr><th>62,227.96</th></tr><tr><th>60,622.14</th></tr><tr><th>58,482.39</th></tr><tr><th>60,363.79</th></tr><tr><th>63,039.82</th></tr><tr><th>60,930.84</th></tr><tr><th>61,393.62</th></tr><tr><th>60,692.27</th></tr><tr><th>62,210.17</th></tr>
<tr><th>65,992.84</th></tr></table>

In [ ]:
# Write your own code in this cell
mystring = "<table><tr><th>63,164.45</th></tr><tr><th>63,226.40</th></tr><tr>\
<th>61,004.41</th></tr><tr><th>61,318.96</th></tr><tr><th>61,888.83</th></tr>\
<tr><th>62,227.96</th></tr><tr><th>60,622.14</th></tr><tr><th>58,482.39</th>\
</tr><tr><th>60,363.79</th></tr><tr><th>63,039.82</th></tr><tr><th>60,930.84\
</th></tr><tr><th>61,393.62</th></tr><tr><th>60,692.27</th></tr><tr><th>\
62,210.17</th></tr><tr><th>65,992.84</th></tr></table>"
mylist =

## üçïüçïüçï
9.To remove whitespaces from both sides of a string, use the strip method.

In [ ]:
# Write your own code in this cell
mysting = "                             I am in touch with my motivation.\
I saw it going by this morning, waving at me and winking.                 "

## üçïüçïüçï
10.Strip the string using the  strip() method to remove the semicolon: ";" at the end of the string.

In [ ]:
# Write your own code in this cell
mystring = "SELECT * FROM Users WHERE UserId = 105 OR 1=1;"

## üçïüçïüçï
11.Remove the leading zeros from the following string.

In [8]:
# Write your own code in this cell
mystring = "0003.1400"

## üçïüçïüçï
12.Remove **```@```** and **```#```**  from the right side of the following string.

In [ ]:
# Write your own code in this cell
mystring = "@angelinajolie@@@@@##"