# 15 - Intermediate Exercises

*   zip()
*   map()

## üç∑üç∑üç∑
1.Create a merged list of tuples from the two lists given using the zip() and list() functions.

In [3]:
# Write your own code in this cell
city = ["isfahan", "Tehran", "Fars", "Khozestan", "Mazandaran"]
pref = ["031", "021", "071", "061", "011"]

## üç∑üç∑üç∑
2.To begin, make a range from 1 to 10.
Then, using zip(), combine the given list and the range to produce a new list of tuples.

In [ ]:
# Write your own code in this cell
fifa_member = ["Belgium", "Brazil", "France", "Italy", "England",
               "Argentina", "Spain", "Portugal", "Mexico", "Denmark"]
fifa_rank =

## üç∑üç∑
3.Create a dictionary with key-value pairs from planet and moon_count using the zip and dict functions.

In [ ]:
# Write your own code in this cell
planet = ["Mercury ", "Venus ", "Earth","Mars", "Jupiter", "Saturn", "Uranus", "Neptune", "Pluton"]
moon_count = [0, 0, 1, 2, 79, 82, 27, 14, 5]

## üå∂Ô∏è 
4.Create a dictionary with key-value pairs from lst1 and lst2 using the zip and dict functions. Then sort the new list by the time each king ruled. (use key= and lambda)

In [12]:
# Write your own code in this cell
list1 = ["Ardashir I", "Seleucus", "Cyrus", "Deioces", "Alexander"]
list2 = [224, -311, -559, -700, -336]

## üç∑üç∑
4.zip() lists 1 and 2, then print each item on zipped list  using  for loop.

In [ ]:
# Write your own code in this cell
list1 = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]
list2 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

## üç∑üç∑
5.Write a map function that multiplies the difference between each member of the following list by the mean. 
$$x_{i}  \rightarrow  (x_{i} -mean)^2$$

In [ ]:
# Write your own code in this cell
list2 = [-1, 2, -3, 4, -5, 8, -2, 7, 8, -9, 10, 11, -12]

## üç∑üç∑üç∑
6.Create a map function that appends "Hello, " to the beginning of each item in the list.

In [ ]:
# Write your own code in this cell
mylist = ["Tirdad", "Bahman", "Azar", "Yalda"]

## üç∑üç∑
7.Create a list consisting of the lengths of each element in the first_list using the map() and len() functions.

In [ ]:
# Write your own code in this cell
first_list = ["Paul David Hewson", "Saeed Mohammadi" ,  "Aryana Sayeed"]

## üå∂Ô∏è 
8.Below is a list of tops, including the height and weight of each person. If the formula for calculating body mass index is as follows:
$$BMI = \frac{(Weight)}{Height^2} =  \frac{kg}{meter^2}$$
With just a single line of Python code, show us how many people on the list are **obese** .

*(We define obesity with a body mass index above 30)*

In [2]:
# Write your own code in this cell

data = [(172, 137), (190, 131), (171, 60), (177, 108), (175, 97), 
 (189, 135), (170, 86), (168, 72), (155, 124), (174, 76),
 (160, 109), (153, 50), (168, 51), (175, 127), (182, 69), 
 (187, 119), (172, 122), (160, 146), (161, 58),(165, 76)]

## üç∑
9.The following list includes systolic blood pressure. If each person's blood pressure is above 140, we can say that the person has high blood pressure. Use a single line of Python code to indicate how many people have high blood pressure in the list below.

In [25]:
# Write your own code in this cell
sample =[133, 112, 157,  96,  95, 128, 124, 122, 101, 138, 170, 217, 128, 132,  98,
       104, 137, 136, 187, 153, 150,  95,  99, 146, 100]

## üç∑
10.Write a function that brings each member of **```list1```** to the power of the corresponding member with equal index in **```list2```**.

In [17]:
# Write your own code in this cell
list1 = [8, 4, 2]
list2 = [3, 5, 10]